# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.env
env/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store

# Pydantic or Uvicorn logs
*.log

# SQLite
*.db

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# FastAPI docs cache
docs/_build/

# Misc
*.swp
*~
.idea/
